.ingridients{
    display: inline-block;
    padding: 10px;
}

.ing-item{
    margin-bottom: 10px;
}

.selects{
    display: flex;
}

.selects label{
    display: block;
}

#popular{
    height: 146px;
}