<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
	<title>Как приготовить {title} - рецепт с фото</title>
	<meta name="description" content="&#10003; Как приготовить {title} - быстрый и простой, пошаговый рецепт приготовления в домашних условиях.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<link href="http://rf-stone.ru/css/style.css" rel="stylesheet" type="text/css" />
	<link href="http://rf-stone.ru/layout.css" rel="stylesheet" type="text/css" />
	<link href="http://rf-stone.ru/css/add_style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="http://rf-stone.ru/about_add_style.css">
	<link rel="stylesheet" type="text/css" href="http://rf-stone.ru/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="http://rf-stone.ru/css/salads.css" />
	<script src="http://rf-stone.ru/js/jquery-1.4.2.min.js" type="text/javascript"></script>
	<script src="http://rf-stone.ru/js/cufon-yui.js" type="text/javascript"></script>
	<script src="http://rf-stone.ru/js/Myriad_Pro_400.font.js" type="text/javascript"></script>
	<script src="http://rf-stone.ru/js/Myriad_Pro_600.font.js" type="text/javascript"></script>


<!--[if lt IE 7]>
	<link href="ie_style.css" rel="stylesheet" type="text/css" />
	<![endif]-->

	<link rel="stylesheet" type="text/css" href="http://rf-stone.ru/fancybox/jquery.fancybox.css">
	<script type="text/javascript" src="http://rf-stone.ru/fancybox/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="http://rf-stone.ru/fancybox/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="http://rf-stone.ru/fancybox/jquery.fancybox-1.2.1.pack.js"></script>
	<script type="text/javascript" src="http://rf-stone.ru/js/ready.js"></script>
	<script type="text/javascript">
		$(document).ready(function() { 
			$("a.first").fancybox(); 
			$("a.two").fancybox(); 
			$('.photo').fancybox();
			$('.highslide-image').fancybox();
			$("a.video").fancybox({"frameWidth":560,"frameHeight":340}); 
			$("a.content").fancybox({"frameWidth":600,"frameHeight":300}); 
		});
	</script>



	<!-- Форма как онлайн консультант -->

	<!-- Форма как онлайн консультант -->

</head>




<body id="page1"><? include($_SERVER['DOCUMENT_ROOT']. '/include/mob.php'); ?>
	<div class="header">
		<div class="header-content">
			<div class="logo">
				<center><a href="http://rf-stone.ru/"><img src="http://rf-stone.ru/images/logo.png" alt="Рецепты кулинарных блюд" align="left"  width="217" height="103"/></a><br></center>
			</div>
			<!-- /.logo -->

			<div class="my-head">

			</div>

			<ul class="nav">
				<li><a href="http://rf-stone.ru"><span class="head-main">Главная</span></a></li>
				<li><a href="http://rf-stone.ru/zarabotat.html"><span>Заработать</span></a></li>
				<li style="width: 43%"><a href="http://rf-stone.ru/add-ricipe.html"><span class="head-reviews">Добавить рецепт</span></a></li>
			</ul>
			<?php include ($_SERVER['DOCUMENT_ROOT'] . '/include/main-menu.php'); ?>
		</div>
		<!-- .logo -->
	</div>
	<div  id="nav-head">
		
	</div>
</div>
<div class="post-header"></div>
<!-- header -->
<div id="header" class="other-pages">
	<div class="container">
		<!-- .intro-text -->

		<!-- /.intro-text -->
	</div>
</div>





<!-- content -->
<div id="content"><div class="ic">!</div>
<div class="container">
	<div class="wrapper">
		
		<?php include($_SERVER['DOCUMENT_ROOT'] . '/include/left-sidebar.php'); ?>

		
		
		
		<div class="mainContent">
<br>
			<a href="http://rf-stone.ru">Главная</a> - {type} - {uc_title}
			<br><br>

			<div class="hrecipe">
				<center><h1 class="fn">Рецепт приготовления {second_title}</h1></center>

				<div class="hreview-aggregate">
					<span class="item"><br>
						<center><span class="fn">Финальное фото {photo_title}.</span></center><br>
						<a href="http://rf-stone.ru/images/recipes/omlet-s-syrom/Final-1.JPG" class="highslide-image" onclick=""><img class="photo result-photo aligncenter size-large wp-image-4939" src="http://rf-stone.ru/images/recipes/omlet-s-syrom/Final.JPG" title="Как приготовить {title}" alt="Как приготовить {title}"></a><br>
					</span><br>
					<span class="rating">  <strong>Оценка:</strong> <span class="average">{rec_rate}</span> из <span class="best">10</span>
					{rating_stars}
					<br>
					</span>
				<strong>Кол-во оценок:</strong> <span class="votes">{count_rates}</span>.
			</div>

			<p><span id="more-7286"></span></p>
			<ul class="rec">
				<li><span class="by-author"> <span class="sep"><strong>Автор рецепта:</strong></span> <span class="author vcard"><span class="fn n" title="Автор Ирина Лукошкова" rel="author"><img src="http://rf-stone.ru/images/harakteristiki/povar.png" width="34" height="37">Ирина Лукошкова</span></span></span></li>
				<li>
					<strong>Категория:</strong>
					<span class="category">
						{categories}
					</span>
				</li>
				<div class="moduletable">
					<li><strong>Кол-во порций</strong> – <span class="yield"><img src="http://rf-stone.ru/images/harakteristiki/slice.png" width="25" height="25">{items_count}</span>.</li>
				</div>
				<div class="moduletable">
					<li><strong>Время приготовления</strong> – <span class="duration"><img src="http://rf-stone.ru/images/harakteristiki/clock.png" width="25" height="25"><a href="http://rf-stone.ru/category/vremya/{time_link}.html" title="{word_hours} {word_minutes}">{word_hours} {short_minutes}</a><span class="value-title" title="PT{seo_hours}{seo_minutes}"></span></span></li>
				</div>
				<div class="moduletable">
					<li><strong>Вид кухни:</strong>
						<span class="cuisine-type">
							{cousine_types}
						</span>.
					</li>
				</div>
				<p>
				</p></ul>
				

				<a id="show-all" show-text="Показать все категории:" hide-text="Скрыть категории" href="#">Показать все категории:</a>
				<div class="all-categories hide-block">
					<div class="moduletable">
					<li>
					<strong>По популярности:</strong>
						{popular}
					</li>
					</div>
					<div class="moduletable">
					<li>
					<strong>Ингредиенты:</strong>
						{ingridients}
					</li>
					</div>
					<div class="moduletable">
					<li>
					<strong>По поводу:</strong>
						{reason}
					</li>
					</div>
					<div class="moduletable">
					{1t}<li>
					{1t}<strong>По цене:</strong>
						{1t}{price}
					{1t}</li>
					</div>
					<div class="moduletable">
					{1t}<li>
					{1t}<strong>В праздники:</strong>
						{1t}{holidays}
					{1t}</li>
					</div>
					{drinks_template}
					<p>
					</p>

					<br><br>
				</div>
				
				
				<p><strong>Ингредиенты:</strong><br>

					<div class="content_step"><br>
						<a href="http://rf-stone.ru/images/recipes/omlet-s-syrom/0-1.JPG" class="highslide-image"><img   alt="Ингредиенты приготовления ШАБЛОН" src="http://rf-stone.ru/images/recipes/omlet-s-syrom/0.JPG" width="320" height="240" align="right" /></a>
						<ul class="rec">
							{list_ingridients}
						</ul>
					</div>
						
						
						<h2>Способ приготовления:</h2>
						<ol id="zlrecipe-instructions-list" class="instructions">
						
							{steps}

						</ol>


			</div>

		</div>
	</div>
</div>
</div>
										<!-- footer -->
										<div id="wrapper" class="bottom-wrapper">
											<?php include($_SERVER['DOCUMENT_ROOT'] . '/include/footer.php'); ?>
										</div>
									</body>


									<?php include($_SERVER['DOCUMENT_ROOT'] . '/include/counter.php'); ?>


</html>