<div class="content_step"><p></p>
    {7t}<ul>
        {7t}<li><strong>Шаг {step_number} </strong>
        {7t}<span class="instruction">{step_text}.</span>
            {6t}<a href="http://rf-stone.ru/images/recipes/{recipe}/{step_number}-1.JPG" class="highslide-image" onclick=""><img class="photo aligncenter size-large wp-image-4939"
            {6t}title="{step_title}" alt="{step_title}" src="http://rf-stone.ru/images/recipes/{recipe}/{step_number}.JPG" width="320" height="240" align="right"></a></li>
    {7t}</ul>
    {7t}<p></p>
{7t}</div>