<div class="content_step"><p></p>
    <ul>
        <li><strong>Шаг {step_number} </strong>
            <span class="instruction">{step_text}.</span>
            <a href="http://rf-stone.ru/images/recipes/{recipe}/{step_number}-1.JPG" class="highslide-image" onclick="">
                <img class="photo aligncenter size-large wp-image-4939" title="{step_title}" alt="{step_title}" src="http://rf-stone.ru/images/recipes/{recipe}/{step_number}.JPG" width="320" height="240" align="right">
            </a>
        </li>
    </ul>
    <p></p>
</div>